@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.nav-pills>li>a {
    border:solid;
    border-radius: 4px;
}

.account{
    border:solid;
    display: block;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-size: 30px;
}

.btn{
    margin-bottom: -60px;
}

