.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-bottom:2px solid #fff!important;
    border-radius: 0%!important;
}

nav a {
    color: white;
}
.nav-item{
    text-align: center;
    margin-left: 10px;
    border: 2px solid #fff;
}

.nav-item:hover a{
   color:#000;
}

.nav-item:hover {
    transition: 800ms;
    background-color: #fff;
    
}

.nav-item a:any-link{
    text-decoration-line: none;
}

.nav-item a:hover{
    color:#000;
}


.nav-item a:focus {
    color:white;
}
.ml-auto li{
    padding: 10px;
    list-style-type: none;
}

@media (max-width: 850px){
  .nav-item{
      margin-top: 10px;
  }
    
}