@import url('https://fonts.googleapis.com/css?family=Oswald');
nav.navbar, .navbar-default {
    background-color: #123140 !important;
}

.navbar-default {
    background-image: none;
    border:none;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
}

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
}  

.navbar-default .navbar-nav>li{
    color: #fff;
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:#fff;
    background-color: transparent;
}

nav.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#fff;
    background-color: transparent;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 45px;
}

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
}

nav.navbar-default .navbar-nav>li>a:hover {
    color: #00d8ff;
}

nav.navbar-default .navbar-nav > li:hover {
    color:#fff;
    background: linear-gradient(to right, #286f90 0, #1d5068 100%)
}

a {
    color: #337ab7;
    text-decoration: none;
}

