@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.myJumb{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid #444F59;
    text-align: center;
    margin:0;
}

.title{
    font-size: 50px;
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
}   

