.vaga{
    color:#FFF;
}

.vaga p{
    color:#fff;
    font-size: 32px;
}
.vaga span{
    color:#ccc;
    font-size: 25px;
}

.btnControl {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.btnEdit button{
    padding: 10px 140px;
    color:#fff;
    border-radius: 0%; 
    background-color: transparent;
    border: 2px solid #FFFF66;
}

.btnDel button{
    padding: 10px 140px;
    color:#fff;
    border-radius: 0%; 
    background-color: transparent;
    border: 2px solid #C70726;
    margin-bottom: 20px;
}


